/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* KeyCode Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background: #F0F7FF;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.nav-bar {
    width: 100%;
    height: 130px;
    padding: 20px 40px;
}

.nav-bar h1 {
    font-size: 4rem;
    font-weight: 300;
}

.main-container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
}

.keycode-display {
    align-self: stretch;
    color: #535353;
    font-size: 240px;
    font-weight: 300;
    text-align: center;
    text-shadow:  0px 4px 9.2px rgba(0, 0, 0, 0.35);
}

.wrapper p {
    align-self: stretch;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    text-shadow:  0px 4px 9.2px rgba(0, 0, 0, 0.35);
}

.input-container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.input-box label {
    font-size: 1.2rem;
    color: #000;
    text-shadow:  0px 4px 9.2px rgba(0, 0, 0, 0.35);
}

.input-box select {
    width: 250px;
    height: 40px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    box-shadow: 0px 4px 9.2px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.input-box select:focus {
    outline: none;
}

.input-box select option {
    font-size: 1rem;
    align-items: center;
}

.input-box input {
    width: 250px;
    height: 40px;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    box-shadow: 0px 4px 9.2px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.event-boxes {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.event-box {
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 192px;
    padding: 19px 50px;
    box-shadow: 0px 4px 9.2px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.event-box h3 {
    font-size: 3rem;
    text-shadow:  0px 4px 9.2px rgba(0, 0, 0, 0.35);
    color: #535353;
    font-weight: 300;
    transition: all 0.3s ease;
}

.event-box p {
    font-size: 1.2rem;
    color: #000;
    font-weight: 300;
    text-shadow:  0px 4px 9.2px rgba(0, 0, 0, 0.35);
}